@import "https://fonts.googleapis.com/css?family=Arvo";

body {
  background-color: #035074;
  color: #FFFFFF;
  font-family: arial,verdana,sans-serif;
  font-size: 1rem;
  padding: 10px; 
}

main {
  max-width:500px;
/* absolute */
  /* position: absolute;
  top: 110px;
  left: 240px;
  margin-top: 10px; */

/* float */
  float: left;
  margin-top: 10px;
}

nav {
  width:200px;
/* absolute */
  /* position: absolute;
  top: 110px;
  left: 20px;
  margin-top: 10px; */

  /* float */
  float: left;
  margin-top: 10px;
  margin-right: 20px;

}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.heading {
  font-size:3rem;
  font-weight:bold;
  font-family: "Arvo", sans-serif;
  opacity:0.5;
  padding-bottom:3px;
}

.sub-heading {
  font-size:1rem;
  letter-spacing:3px;
}

select {
  font-family:arial,verdana,sans-serif;
  font-size:1rem;
  color:#035074;
  border:2px solid #FFFFFF;
  padding:2px 5px 2px 5px;
  height:32px;
  width:200px;
  border-radius: 5px;
}

select:focus {
  outline:none;
}

.content-title {
  padding-bottom:10px;
  font-size:1.5rem;
}

.content-description {
  padding-bottom:20px;
}

.content-icons {
  padding-top:20px;
}

.content-icons img {
  border-radius: 5px;
  margin-right: 5px;
  width: 50px
}

.content-icons img:nth-of-type(1) {
  border-radius: 10px;
  width: 100px;
}


/* media queries */
@media screen and(max-width: 500px){

  nav{
    width: 100%;
  }

  select{
    width:100%;
  }

  .content-icons img {
    border-radius: 10px;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 75px;
    height: 75px;
  }

  .content-icon img:nth-of-type(1) {
    width:75px
  }
}